In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv("../datasets/diabetes.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [9]:
x = data.drop('Outcome', axis = 1)
y = data['Outcome']

In [13]:
x.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31

In [15]:
y.head(2)

0    1
1    0
Name: Outcome, dtype: int64

In [29]:
k= 50
seed = 7

kfold = KFold(n_splits=k, shuffle= True, random_state= seed)
model = LogisticRegression()
results = cross_val_score(model, x, y, cv=kfold)
print(results)

[0.6875     0.8125     0.8125     0.9375     0.875      0.625
 0.8125     0.875      0.625      0.625      0.875      0.75
 0.75       0.8125     0.625      0.875      0.9375     0.875
 0.6        0.73333333 0.86666667 0.73333333 0.86666667 0.73333333
 0.86666667 0.73333333 0.8        0.86666667 0.66666667 0.73333333
 0.4        0.66666667 0.6        0.93333333 0.73333333 0.8
 0.8        0.8        0.66666667 0.93333333 0.8        1.
 0.66666667 0.93333333 0.66666667 0.73333333 0.8        0.8
 0.66666667 0.66666667]

In [65]:
print(results)
print("----")
print("Accuracy: %.3f" % (results.mean()*100))
print("standard deviation: %.3f" % (results.std()*100))

[0.6875     0.8125     0.8125     0.9375     0.875      0.625
 0.8125     0.875      0.625      0.625      0.875      0.75
 0.75       0.8125     0.625      0.875      0.9375     0.875
 0.6        0.73333333 0.86666667 0.73333333 0.86666667 0.73333333
 0.86666667 0.73333333 0.8        0.86666667 0.66666667 0.73333333
 0.4        0.66666667 0.6        0.93333333 0.73333333 0.8
 0.8        0.8        0.66666667 0.93333333 0.8        1.
 0.66666667 0.93333333 0.66666667 0.73333333 0.8        0.8
 0.66666667 0.66666667]
----
Accuracy: 76.908
standard deviation: 11.538

In [1]:
import pickle

In [5]:
!pip install joblib

Requirement already satisfied: joblib in c:\users\siddh\anaconda3\lib\site-packages (1.2.0)